
<nz-layout>
  <!--侧边栏-->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow" 
  style="overflow: auto; height: 100vh; position: fixed; left: 0">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">用户管理</span></span>
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">实验管理</span></span>
        <ul>
          <li nz-menu-item routerLink='/experiments'>实验组</li>
          <li nz-menu-item>实验记录</li>
          <li nz-menu-item>实验配置</li>
          <li nz-menu-item>实验环境</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span><i nz-icon type="file"></i><span class="nav-text">配置管理</span></span>
      </li>
    </ul>
  </nz-sider>
    <!--内容区域-->
  <nz-layout style="margin-left:200px">
    
    <!--<nz-header style="background: #fff; padding:0;"></nz-header> -->


    <nz-content style="margin:0 16px;min-height: 1200px">

      <nz-breadcrumb style="margin:16px 0;" [nzAutoGenerate]=true>
      </nz-breadcrumb>
      
     <div style="padding:24px; background: #fff;">
          <router-outlet></router-outlet>
      </div>
    
    </nz-content>
    
    <!--footer--> 
    <nz-footer style="text-align: center;">Spground©2019 Implement By Angular</nz-footer>
  
  </nz-layout>
</nz-layout>
